/** Colors **/
$black: #0B0B0B;
$white: #fff;
$blackMiniTypo: #141414;

$primaryBlue: #4081c5;
$primaryYellow: #EFBB2B;
$lightBlue: #ACCFF3;
$primaryBackground: #fefefe;
$secondaryBackground: #fafafa;
$transparentBlack: rgba(0,0,0,0.3);

/** Fonts **/
$font: 'Din pro';

/** Size  **/
/** 54 px = 2.700em **/
/** 30 px = 1.500em **/
/** 16 px = 1em **/
/** 20 px = 1.250em **/
/** 24 px = 1.200em **/
