
.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.center {
  text-align: center;
}

.gallery-content {
  font-family: $font;
  h2 {
    color: #ffffff;
    font-size: 2em;
  }
  .gallery-body {
    padding-top: 5vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      width: 60vw;
      text-align: left;
    }
  }
  .bwg_search_container_1 {
    text-align: center;
    z-index: 100;
  }
}