.timeline-content {
  padding: 10px;
  position: relative;
  margin-left: 3em;
  margin-bottom: -20px;

  h2 {
    margin-top: 30px;
    font-family: $font;
    font-weight: 500;
    font-size: 1.5em;
    color: #0B0B0B;
    text-transform: uppercase;
  }

  h3 {
    margin-top: -15px;
    font-family: $font;
    font-size: 1em;
    font-weight: 400;
  }

  p {
    font-family: $font;
    font-size: 0.9em;
    font-weight: lighter;
    line-height: 1.5;
  }

  img {
    display: none;
  }
}

.timeline-place {
  position: relative;
}

#timeline {
  margin-top: 50px;
  position: relative;
}

#timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  background: $primaryYellow;
}

.timeline-block {
  margin-top: -4px;
  position: relative;
}

.timeline-img {
  background: #EFBB2B;
  position: absolute;
  margin-top: 30px;
  left: -35px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}

.timeline__border {
  background: $primaryYellow;
  position: absolute;
  top: 0;
  left: -4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.timeline-end__border {
  background: $primaryYellow;
  position: absolute;
  left: -4px;
  width: 10px;
  height: 10px;
  top: 100%;
  border-radius: 50%;
}

@media screen and (max-width: 1055px) {
  .project__text li:first-child {
    display: none;
  }
}

.project__box {
  width: 100%;
  position: relative;
  height: 130px;
  background: radial-gradient(at center, transparent, transparent, $transparentBlack) center center;
  background-size: cover;
  color: white;
  a {
    text-decoration: none;
  }
  img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 130px;
    object-fit: cover;
  }
  h2 {
    z-index: 2;
    margin-top: 40px;
    padding: 40px;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
  }
  li:last-child {
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }
}

.viewpro {
  color: $white;
  text-decoration: underline;
}

.project__text {
  margin: auto;
  color: #fff;
  ul {
    font-size: 0.8em;
    color: $white;
    margin-top: -40px;
    width: 95%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
  }
  p {
    color: #fff;
    max-width: 450px;
    min-width: 20px;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1em;
    height: 1em;
    max-height: 32px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

.live {
  h2 {
    font-size: 2em;
  }
}

.live-collection {
  width: 100%;
  margin-top: 20px;
  h2 {
    font-size: 2em;
  }
}

.live {
  font-size: 1em;
  text-transform: uppercase;
}

.helpustwo {
  opacity: .9;
  margin-top: 50px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background-position: center center;
  width: 100%;
  background-image: url('../images/helpus.png');
  background-size: cover;
  height: 270px;
  @media screen and (max-width: 442px) {
    height: 38vh;
  }
  h3 {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bolder;
    color: $white;
  }
}

.transparency {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.transparency-laos {
  width: 10vh;
  height: auto;
}

.stats-container {
  margin-top: 50px;
  background: #EEE;
  padding: 50px 0;
}

.stats-title {
  margin: 0;
}

.stats-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stat-item {
  min-width: 100px;
  padding: 0 5px;
}

.stat-value {
  margin: 0;
}

.stat-label {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

.arrow-toggle-timeline {
  display: none;
  transform: rotate(0deg);
  transition: transform .2s;
}

@media screen and (max-width: 768px) {
  .timeline-place {
    padding-left: 30px;
  }
}

@media screen and (max-width: 565px) {
  .timeline-content {
    .desc-toggle-timeline {
      display: none;
    }
    h2 {
      font-size: 1em;
    }
    img {
      margin-left: 50px;
      vertical-align: middle;
      display: block;
      cursor: pointer;
      float: right;
    }

    &.timeline-toggled {
      .desc-toggle-timeline {
        display: block;
      }

      .arrow-toggle-timeline {
        transform: rotate(90deg);
      }
    }
  }
}
