.timeline-content {
  padding: 10px;
  position: relative;
  margin-left: 3em;
  margin-bottom: -20px;

  h2 {
    margin-top: 30px;
    font-family: $font;
    font-weight: 500;
    font-size: 1.5em;
    color: #0B0B0B;
    text-transform: uppercase;
  }

  h3 {
    margin-top: -15px;
    font-family: $font;
    font-size: 1em;
    font-weight: 400;
  }

  p {
    font-family: $font;
    font-size: 0.9em;
    font-weight: lighter;
    line-height: 1.5;
  }

  img {
    display: none;
  }
}

.timeline-place {
  position: relative;
}

#timeline {
  margin-top: 50px;
  position: relative;
}

#timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  background: $primaryYellow;
}

.timeline-block {
  margin-top: -4px;
  position: relative;
}

.timeline-img {
  background: #EFBB2B;
  position: absolute;
  margin-top: 30px;
  left: -35px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}

.timeline__border {
  background: $primaryYellow;
  position: absolute;
  top: 0;
  left: -4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.timeline-end__border {
  background: $primaryYellow;
  position: absolute;
  left: -4px;
  width: 10px;
  height: 10px;
  top: 100%;
  border-radius: 50%;
}

#myARROW,
#myARROW2,
#myARROW3 {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

@media screen and (max-width: 1055px) {
  .project__text li:first-child {
    display: none;
  }
}

.project__box {
  width: 100%;
  height: 130px;
  background: radial-gradient(at center, transparent, transparent, $transparentBlack) center center;
  background-size: cover;
  color: white;
  a {
    text-decoration: none;
  }
  img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 130px;
    object-fit: cover;
  }
  h2 {
    z-index: 2;
    margin-top: 40px;
    padding: 40px;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
  }
  li:last-child {
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }
}

.viewpro {
  color: $white;
  text-decoration: underline;
}

.project__text {
  margin: auto;
  color: #fff;
  ul {
    font-size: 0.8em;
    color: $white;
    margin-top: -40px;
    width: 95%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
  }
  p {
    color: #fff;
    max-width: 450px;
    min-width: 20px;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1em;
    height: 1em;
    max-height: 32px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

.live {
  h2 {
    font-size: 2em;
  }
}

.live-collection {
  width: 100%;
  margin-top: 20px;
  h2 {
    font-size: 2em;
  }
}

.live {
  font-size: 1em;
  text-transform: uppercase;
}

.container-grid__live {
  position: relative;
  margin: auto;
  width: 940px;
  height: 517px;
}

.live-container ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;

  li {
    list-style-type: none;
  }
  li:nth-child(odd) {
    width: 300px;
    height: 300px;
    background: grey;
  }
  li:nth-child(even) {
    width: 300px;
    height: 145px;
    background: green;
  }
  li:nth-child(2n+4) {
    margin-top: 20px;
  }
  li:nth-child(2n+5) {
    margin-top: -135px;
  }
  li:nth-child(2) {
    margin-left: 20px;
  }
  li:nth-child(3n) {
    margin-left: 20px;
  }
  li:nth-child(5) {
    margin-left: 20px;
  }
  img {
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    width: 100%;
  }
}


@media screen and (max-width: 950px) {
  .container-grid__live {
    width: 500px;
    height: 800px;
  }

}


@media screen and (max-width: 970px) {
  .live {
    h2 {
      margin-left: 40px;
    }
  }
  .container-grid__live {
    width: 400px;
    height: 1400px;
  }

  .live-container ul {

    li:nth-child(odd) {
      width: 300px;
      height: 300px;
      background: grey;
      margin: auto;
      margin-top: 20px;
    }
    li:nth-child(even) {
      width: 300px;
      height: 145px;
      background: green;
      margin: auto;
      margin-top: 20px;
    }
    li:nth-child(2n+4) {
      margin: auto;
      margin-top: 20px;
    }
    li:nth-child(2n+5) {
      margin: auto;
      margin-top: 20px;
    }
    li:nth-child(2) {
      margin: auto;
      margin-top: 20px;
    }
    li:nth-child(3n) {
      margin: auto;
      margin-top: 20px;
    }
    li:nth-child(5) {
      margin-top: 20px;
    }
  }
}

.helpustwo {
  -webkit-filter: opacity(.9);
  filter: opacity(.9);
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background-position: center center;
  width: 100%;
  background-image: url('../images/helpus.png');
  background-size: cover;
  height: 270px;
  h3 {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bolder;
    color: $white;
  }
}

.transparency {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.transparency-laos {
  width: 100px;
  height: 50px;
}

.header__border {
  margin-top: 30px;
}

.stats-container {
  margin-top: 50px;
  background: #EEE;
  padding: 50px 0;
}

.stats-title {
  margin: 0;
}

.stats-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stat-item {
  min-width: 100px;
  padding: 0 5px;
}

.stat-value {
  margin: 0;
}

.stat-label {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
}
