{% extends "base.twig" %}

{% block content %}
    <div class="notFound">
        <h2>{{ home.get_field('not_found_message') }}</h2>
        <a href="{{ home.get_field('not_found_link') }}">
            <button>{{ home.get_field('not_found_button_message') }}</button>
        </a>
    </div>
{% endblock %}