{% if footerMenu %}

    <div class="footer-bottom">
        <div class="container-grid">
            <div class="footer-menu">
                {% for item in footerMenu.get_items %}
                    <div class="footer-menu-item {{ item.classes | join(' ') }}">
                        <a href="{{ item.get_link }}" class="footer-link">{{ item.title }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
