<div class='footer'>
    <div class='container-grid__last'>
        <ul>
            <li>EEFA</li>
            <li>OUR TEAM</li>
            <li>SAE LAO PROJECT</li>
            <li>DONATE</li>
            <li>VOLUNTEER</li>
            <li>LEGAL MENTIONS</li>
        </ul>
    </div>
</div>

{% include 'footer-menu.twig' %}
Copyright {{"now"|date('Y')}}