<div class='footer-ctn'>
  <div class="container-grid__last">
{% if footerMenu %}
    <ul>
        {% for item in footerMenu.get_items %}
            <li class="{{ item.classes | join(' ') }}">
                <a href="{{ item.get_link }}">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
</div>
</div>
