{% extends "base.twig" %}

{% block content %}
	<h2>{{foo}}</h2>
	<p>{{qux}}</p>
	{% for post in posts %}
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
	{% endfor %}
{% endblock %}



	</div>

	<h1 class='home-presentation__text'>EEFA <span>equal education for all</span></h1>
	<div class='header__border'>
	</div>
	<div class='container-grid'>
		<div class='presentation__text'>
			<p>Equal Education For All (EEFA) is a non-profit effort begun in 2007 by Ward Reekmans, a volunteer from Belgium, and Thanongsi Solangkoun, the owner of the Vang Vieng Organic Farm that provides educational opportunities to local youth in Vang Vieng. EEFA achieved Association status (Association #0151) in 2011.</p>
		</div>
		<div class='part__text'>
			<h2>what we believe in</h2>
		</div>
		<div class='timeline-place'>
			<section id="timeline">
				<div class='timeline__border'></div>

				<div class="timeline-block">
					<div class="timeline-img">
						<img src="../../src/images/EDUCATION.png" alt="Picture">
					</div> <!-- cd-timeline-img -->
					<div class="timeline-content">
						<h2>education</h2>
						<h3>Education accessible for all.</h3>
						<p>One of the main goals of SAE LAO is to promote equal education for all with English classes for children and adults plus several other educational programmes for the local community, completely free of charge and run by the volunteers.
							2016 saw more than 300 students register for the free  English classes.</p>
					</div> <!-- cd-timeline-content -->
				</div> <!-- cd-timeline-block -->

				<div class="timeline-block">
					<div class="timeline-img">
						<img src="../../src/images/EMPLOYMENT.png" alt="Picture">
					</div> <!-- cd-timeline-img -->
					<div class="timeline-content">
						<h2>EMPLOYMENT</h2>
						<h3>Education accessible for all.</h3>
						<p>One of the main goals of SAE LAO is to promote equal education for all with English classes for children and adults plus several other educational programmes for the local community, completely free of charge and run by the volunteers.
							2016 saw more than 300 students register for the free  English classes.</p>
					</div> <!-- cd-timeline-content -->
				</div> <!-- cd-timeline-block -->
				<div class="timeline-block">
					<div class="timeline-img">
						<img src="../../src/images/ECOLOGY.png" alt="Picture">
					</div> <!-- cd-timeline-img -->
					<div class="timeline-content">
						<h2>environment</h2>
						<h3>Education accessible for all.</h3>
						<p>One of the main goals of SAE LAO is to promote equal education for all with English classes for children and adults plus several other educational programmes for the local community, completely free of charge and run by the volunteers.
							2016 saw more than 300 students register for the free  English classes.</p>
					</div> <!-- cd-timeline-content -->
				</div> <!-- cd-timeline-block -->
				<div class='timeline-end__border'></div>
			</section>
		</div>
		<div class='project'>
			<h2>Our projects</h2>
			<p>We believe that helping other associations is one of the aim of EEFA.</p>

			<div class='project__box'>
				<img src="../../src/images/HOME_SAELAO.png" alt="">
				<a href="#"><h2>Sae lao</h2></a>
				<div class="project__text">
					<ul>
						<li><p>Project description Project description Project description Project description Project descriptionProject descriptionProject descriptionProject description</p></li>
						<a href=""><li><p>View the project</p></li></a>
					</ul>
				</div>
			</div>

			<div class='project__box'>
				<img src="../../src/images/ORGANIC_RESTAURANT.png" alt="">
				<a href="#"><h2>Sae lao</h2></a>
				<div class="project__text">
					<ul>
						<li><p>Project description Project description Project description Project description Project descriptionProject descriptionProject descriptionProject description</p></li>
						<a href=""><li><p>View the project</p></li></a>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class='stat__number'>
		<div class='container-grid__last'>
			<div class='stat-content'>
				<div class='part__text'>
					<h2>IN A FEW NUMBERS</h2>
				</div>
				<p>Have a quick overview of the projects leaded by EEFA.</p>
				<div class="stat__number-pos">
					<ul>
						<li><h2>150</h2></li>
						<li><h3>VOLUNTEERS</h3></li>
					</ul>
					<ul>
						<li><h2>1234</h2></li>
						<li><h3>STUDENTS HELPED</h3></li>
					</ul>
					<ul>
						<li><h2>1700</h2></li>
						<li><h3>CONTRIBUTORS</h3></li>
					</ul>
					<ul>
						<li><h2>250</h2></li>
						<li><h3>LOCALS HELPED</h3></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class='live container-grid__live'>
		<div class='part__text help'>
			<h2>want to help us ?</h2>
			<a href="#"><button type="button" name="button">join us</button></a>
		</div>
		<h2 class='live'>Live</h2>

		<div class='live-collection'>
			<div class="live-container container-grid__live">
				<ul>
					<li><img src="../../src/images/1.png" alt="" /></li>
					<li><img src="../../src/images/2.png" alt=""  /></li>
					<li><img src="../../src/images/3.png" alt=""  /></li>
					<li><img src="../../src/images/4.png" alt=""  /></li>
					<li><img src="../../src/images/5.png" alt=""  /></li>
					<li><img src="../../src/images/6.png" alt=""  /></li>
				</ul>

			</div>

		</div>
		<div class='partners'>
			<div class='part__text'>
				<h2>our main partners</h2>
			</div>
			<p>Have a quick overview of the projects leaded by EEFA.</p>
			<ul>
				<li><img src="../../src/images/UBELONG.png" alt="" id='imgpartner1'><div class="arrow-up1"></div></li>
				<li><img src="../../src/images/SAE LAO PROJECT.png" alt="" id='imgpartner2'> <div class="arrow-up2"></div></li>
				<li><img src="../../src/images/ORGANIC FARM.png" alt="" id='imgpartner3'><div class="arrow-up3"></div></li>
				<li><img src="../../src/images/LLL.png" alt="" id='imgpartner4'><div class="arrow-up4"></div></li>
				<li><img src="../../src/images/LAOSpart.png" alt="" id='imgpartner5'><div class="arrow-up5"></div></li>
			</ul>

		</div>

	</div>
	<div class="partners__info">
		<div class='container-grid__partners'>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse quibusdam exercitationem et est necessitatibus, eos, doloribus veniam eius fugit reprehenderit eveniet, similique quis dolor minima facilis libero doloremque voluptas aperiam.</p>

		</div>
	</div>
	<div class='form'>
		<h2>Any questions ?</h2>
		<div class='contact__form'>
			<select>
				<option value="" disabled selected>Select your option</option>
				<option value="volvo">Volvo</option>
				<option value="saab">Saab</option>
				<option value="mercedes">Mercedes</option>
				<option value="audi">Audi</option>
			</select>
			<input type="text" name="" value="" placeholder=" E-mail adress">
			<ul>
				<li><input type="text" name="" value="" placeholder=" Name"></li>
				<li><input type="text" name="" value="" placeholder=" Surname"></li>
			</ul>
			<textarea name="name" rows="8" cols="80" placeholder="Your message..."></textarea>
		</div>
	</div>
	<div class='newsletter'>
		<div class="newsletter__position">
			<ul>
				<li><h2>Subscribe to our newsletter</h2></li>
				<li><input type="text" name="" value="" placeholder=" Name"></li>
			</ul>
		</div>
	</div>
	<div class='container-grid__last'>
		<div class='contact'>
			<ul>
				<li><div class='contactus'>
						<h2>Contact us </h2>
						<p>Organic Farm Vang Vieng</br>
							P.O. Box 253</br>
							Vang Vieng</br>
							Vientiane Province, LAO P.D.R.</br></p>
						<p>+856-(0)20-2292 8630 <span>- EEFA office</span></br>
							+856-(0)20 9194 9923 <span>- Sengkeo Frichitthavong</span></br>

							<span>office@eefalaos.org</span></p>
					</div></li>
				<li><div class='map'><img src="../../src/images/map.png" alt=""></div></li>
				<li><div class='social'>
						<h2>Follow us </h2>
						<ul>
							<li class='circle'><img src="../../src/images/FACEBOOK.svg" alt=""></li>
							<li class='circle'><img src="../../src/images/TWITTER.svg" alt=""></li>
							<li class='circle'><img src="../../src/images/INSTAGRAM.svg" alt=""></li>
							<li class='circle'><img src="../../src/images/YOUTUBE.svg" alt=""></li>
						</ul>
					</div></li>
			</ul>
		</div>
	</div>
	<div class='footer'>
		<div class='container-grid__last'>
			<ul>
				<li>EEFA</li>
				<li>OUR TEAM</li>
				<li>SAE LAO PROJECT</li>
				<li>DONATE</li>
				<li>VOLUNTEER</li>
				<li>LEGAL MENTIONS</li>
			</ul>
		</div>
	</div>
</div>
</body>
<script type="text/javascript">

</script>
<script src="js/app.js"></script>
</body>
</html>