{% if headerMenu %}
    <ul>
        {% for item in headerMenu %}
            <li class="{{ item.classes | join(' ') }}">
                <a href="{{ item.get_link }}">{{ item.title }}</a>
                {% include "menu.twig" with {'headerMenu': item.get_children} %}
            </li>
        {% endfor %}
    </ul>
{% endif %}