{% extends "base-with-header.twig" %}

{% block content %}
    <div class='container-grid'>
        <div class='presentation__text'>
            <p>{{ post.content }}</p>
        </div>
        <div class="post-list">
            {% for post in news %}
                {% include 'tease-post.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
