{% extends "base-with-header.twig" %}

{% block content %}
    <div class='container-grid'>
        <div class='presentation__text'>
            <div class='part__text teamtext'>
                <h2>{{ post.title }}</h2>
            </div>
            <p>{{ post.content }}</p>
        </div>
    </div>
{% endblock %}