@import "default";

.resource_item {
  margin-bottom: 8vh;
  .resource_button {
    text-decoration: none;
  }
}

.download--button {
  background-color: $primaryBlue;
  color: #fff;
  border: none;
  text-transform: uppercase;
  text-decoration: none !important;
  font-size: 1em;
  font-weight: 700;
  font-family: $font;
  border-radius: 50px;
  display: block;
  margin: 3vh auto auto auto;

  @media screen and (min-width: 725px) {
    height: 63px;
    width: 300px;
  }
  @media screen and (max-width: 725px) {
    height: 7vh;
    width: 25vw;
  }
  @media screen and (max-width: 500px) {
    height: 8vh;
    width: 30vw;
  }
  @media screen and (max-width: 440px) {
    width: 50vw;
  }
}