@import "default";

.resources_section {
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .resources_item {
    @media screen and (min-width: 768px) {
      margin: 0 20px;
    }

    .resources_item-inside {

      display: inline-block;
      position: relative;

      h2 {
        position: absolute;
        top: 20px;
        left: 20px;
        margin: 0;
        font-family: $font;
        text-transform: uppercase;
        color: #ffffff;
        text-decoration: none;
        right: 20px;
        text-align: left;
      }
      img {
        max-width: 100%;
        height: auto;
      }
      p {
        position: absolute;
        bottom: 20px;
        right: 20px;
        left: 20px;
        text-align: right;
        margin: 0;
        font-family: $font;
        font-size: 1em;
      }
    }
  }

}

.resource_item {

  margin-top: 30px;
  font-family: $font;
  display: flex;
  flex-direction: row;

  .resource_infos {
    margin-left: 30px;
    padding-left: 30px;
    border-left: 3px solid #3F81C4;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .resource_title {
    margin: 0;
  }

  .resource_desc {
    margin: 5px 0;
    font-size: 16px;
  }

  .resource_date {
    margin: 5px 0;
  }

  .resource_thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }

  .resource_img {
    max-width: 250px;
    width: 100%;
    height: auto;

    &.resource_placeholder {
      background: #CCC;
      padding-bottom: 55%;
      width: 250px;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  .resource_button {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    border-top: 1px solid #EEE;
    margin-top: 30px;
    padding-top: 30px;

    .resource_infos {
      margin-left: 0;
      padding-left: 0;
      border-left: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .resource_img {
      max-width: 100%;
    }
  }
}
