@import "default";

.resources_section {
  padding: 5em 0 10em 0;
  display: flex;
  justify-content: space-around;

  .resources_item {

    .resources_item-inside {
      h2 {
        position: relative;
        top: -12em;
        left: 1em;
        font-family: $font;
        text-transform: uppercase;
        color: #ffffff;
        text-decoration: none;
      }
      p {
        position: relative;
        top: -6em;
        left: 8em;
        font-family: $font;
      }
    }
  }

}