@font-face {
  font-family: 'Din pro';
  src: url('../fonts/Din/din-pro-webfont.ttf');
  src: url('../fonts/Din/din-regular-webfont.otf') format('truetype'),
  url('../fonts/Din/din-regular-webfont.woff') format('woff'),
  url('../fonts/Din/din-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Din/din-regular-webfont.svg#QuadrantaBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Din pro regular';
  src: url('../fonts/Din/din-regular-webfont.ttf');
  src: url('../fonts/Din/din-regular-webfont.otf') format('truetype'),
  url('../fonts/Din/din-regular-webfont.woff') format('woff'),
  url('../fonts/Din/din-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Din/din-regular-webfont.svg#QuadrantaBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Din pro light';
  src: url('../fonts/Din/din-light-webfont.ttf');
  src: url('../fonts/Din/din-light-webfont.otf') format('truetype'),
  url('../fonts/Din/din-light-webfont.woff') format('woff'),
  url('../fonts/Din/din-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Din/din-light-webfont.svg#QuadrantaBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Din pro medium';
  src: url('../fonts/Din/din-medium-webfont.ttf');
  src: url('../fonts/Din/din-medium-webfont.ttf.otf') format('truetype'),
  url('../fonts/Din/din-medium-webfont.ttf.woff') format('woff'),
  url('../fonts/Din/din-medium-webfont.ttf.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Din/din-medium-webfont.ttf.svg#QuadrantaBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Din pro bold';
  src: url('../fonts/Din/din-bold-webfont.ttf');
  src: url('../fonts/Din/din-bold-webfont.otf') format('truetype'),
  url('../fonts/Din/din-bold-webfont.woff') format('woff'),
  url('../fonts/Din/din-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Din/din-bold-webfont.svg#QuadrantaBold') format('svg');
  font-weight: bold;
  font-style: normal;
}