.footer {
  width: 100%;
  margin-top: 340px;

  ul {
    display: flex;
    text-transform: uppercase;
    font-family: $font;
    font-weight: lighter;
    font-size: 0.9em;
    //margin-left: -1.6em;
    color: $lightBlue;
    list-style-type: none;

    li {
      margin-left: 10px;
      margin-top: 10px;
    }
  }
}
.footer-ctn{
  width: 100vw;/* <-- children as wide as the browser window (viewport) */
  margin-left: calc(-1 * ((100vw - 100%) / 2));/* align left edge to the left edge of the viewport */
  padding:5px;
  height:50px;
  color:$white;
  font-weight:lighter;
  font-family:$font;
  text-transform:uppercase;
  background:$primaryBlue;
  ul{
    margin:auto;
  }
}
#mc_embed_signup_scroll{
  display:flex;
  align-items:center;
align-items: flex-end;
display: -webkit-flex;
margin-top: -10px;
display: flex;
}
