/* BASE */
@import "base/variables";
@import "base/fonts";
@import "base/default";
/* LAYOUT */
@import "layout/container";
/* PAGES */
@import "pages/home";
@import "pages/resources";
@import "pages/gallery";
@import "pages/single-category-project";
@import "pages/our-team";
@import "pages/404";
@import "pages/program";
/* PARTIALS */
@import "partials/header";
@import "partials/footer";
@import "partials/wpcf7";
@import "pages/donate";

/* OTHER STYLE */

.presentation__text {
  p {
    font-weight: lighter;
    color: #141414;
    font-size: 1em;
    line-height: 1.8;
  }
}

.part__text {
  h2 {
    font-weight: bold;
    color: #0B0B0B;
    text-transform: uppercase;
    margin-top: 100px;
  }
  p {
    font-size: 0.9em;
    font-weight: lighter;
    margin-top: -15px;
  }
}

.help {
  margin: 50px auto auto;
  text-align: center;
  h2 {
    font-size: 1.6em;
  }
  button {
    background-color: $primaryYellow;
    color: white;
    border: none;
    text-transform: uppercase;
    width: 170px;
    height: 45px;
    text-align: center;
    text-decoration: none;
    font-size: 1.05em;
    font-weight: bold;
    border-radius: 50px;
    margin-top: 2px;
  }
}

.partners {
  p {
    font-weight: lighter;
    margin-top: -25px;
  }
  ul {
    justify-content: space-between;
    display: flex;
    list-style-type: none;
    margin-left: -50px;
  }
}

.partners__arrows {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.partners__info {
  margin-top: 590px;
  width: 100%;
  height: 170px;
  background: $primaryBlue;
  p {
    max-height: 150px;
    overflow: hidden;
    font-weight: 500;
    color: $white;
    padding: 30px;
    font-size: 1.1em;
  }

  /**
  hide partners text for resolution below 650px
  **/
  @media screen and (max-width: 650px) {
    visibility: hidden;
  }
}

@media screen and (max-width: 900px) {
  .partners__info {
    p {
      width: 80%
    }
  }

}

@media screen and (max-width: 710px) {
  .partners__info {
    p {
      width: 60%
    }
  }

}

@media screen and (max-width: 540px) {
  .partners__info {
    p {
      width: 40%
    }
  }

}

@media screen and (max-width: 970px) {
  .partners {
    ul {
      margin-left: -125px;
    }
  }
}

@media screen and (max-width: 608px) {
  .partners {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 800px) {
  .team-member {
    margin-left: -20px;
    img {
      width: 140px;
      height: auto;
    }
  }
  .member {
    margin-left: -30px;
    h2 {
      font-size: 1em;
    }
  }
}

.team-member {
  position: relative;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h2 {
    font-weight: 500;
    margin-top: -10px;
  }
  p {
    font-weight: lighter;
    color: #141414;
    font-size: 0.75em;
    line-height: 1.8;
  }
}

.teamtext {
  text-align: center;
  margin-top: -100px;
  h2 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 650px) {
  .partners ul {
    flex-direction: column;
    margin: auto;
  }

  .partners__info {
    margin-top: 950px;
  }
}

.img-project {
  margin: auto;
  display: block;
}

@media screen and (max-width: 1023px) {
  .container-grid-project {
    height: 1700px;
  }

}

@media screen and (max-width: 733px) {
  .container-grid-project {
    height: 2400px;
  }

}

.programs_container {
  margin-top: 50px;
}

.programs_title {
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;

  &.programs_title_left {
    text-align: left;
  }

  &.programs_title_small {
    font-size: 24px;
  }
}

.programs_navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.programs_nav_item {
  display: flex;
  border: 2px solid #3F81C4;
  border-radius: 30px;
  margin: 0 10px;
  padding: 10px;
  text-decoration: none;
  color: #3F81C4;
}

.programs_nav_icon {
  height: 18px;
  width: auto;
  margin-right: 5px;
}

.programs_nav_icon_default {
  display: block;
}

.programs_nav_icon_selected {
  display: none;
}

.programs_nav_item.selected {
  background: #3F81C4;
  color: white;
}

.programs_nav_item.selected .programs_nav_icon_default {
  display: none;
}

.programs_nav_item.selected .programs_nav_icon_selected {
  display: block;
}

.programs_nav_label {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}

.programs_content {
  margin-top: 50px;
}

.container-grey .programs_content {
  margin-top: 15px;
}

.programs_desc {
  padding: 0 8%;
  margin-bottom: 50px;

  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

.programs_faq_single {
  margin-bottom: 15px;
}

.programs_faq_title {
  position: relative;
  padding: 5px 0;
  margin-bottom: 5px;
  font-size: 20px;
  border-bottom: 1px solid #EEE;
  text-transform: uppercase;

  &::after {
    content: ' ';
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 5px;
    border: 5px solid transparent;
    border-top: 8px solid #AAA;
  }

  &.selected::after {
    border: 5px solid transparent;
    border-bottom: 8px solid #AAA;
  }
}

.selected {
  opacity: .7;
  transition: all 0.1s;
}

/* ADD YOUR STYLE IN SPECIFIC FILES, NOT HERE! */
